@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gray-800 {
  background-color: #4a5568;
}
.justify-center {
  justify-content: center;
}

.flex {
  display: flex;
}

.bg-white {
  background-color: #ffffff;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.border {
  border: solid 1px #dcdfe6;
}

.bg-blue-500 {
  background-color: #4299e1;
}

.text-white {
  color: #fff;
}

.ml-2 {
  margin-left: 0.5rem;
}

.text-lg {
  font-size: 1.25rem;
}

.font-medium {
  font-weight: 500;
}

.text-sm {
  font-size: 0.875rem;
}

.max-w-sm {
  max-width: 20rem;
}
